Ad_metrics.json
{
  "name": "Ad metrics",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "ae5573a6-9c54-401f-b108-d58a05985306",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        0,
        0
      ],
      "name": "Schedule Trigger2",
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "a2dfde94-f6d8-4064-8659-0e7d9ef9607b",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        400,
        0
      ],
      "name": "Split Out6",
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "0550ea5c-3d33-4a9d-bbc3-4e85e76d3d08",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        260,
        300
      ],
      "name": "Split Out7",
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "151f05bf-cf95-4ac0-9bbd-1221a343cdaa",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        900,
        0
      ],
      "name": "Split Out8",
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "82ad0208-4bee-4d87-9aa1-5c6a027a5cc9",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1040,
        300
      ],
      "name": "Split Out9",
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4ae9d184-693b-49c1-a971-fc91e1a90522",
              "leftValue": "={{ $json.effective_status }}",
              "rightValue": "ACTIVE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        300
      ],
      "id": "2ba6e833-725e-454f-83ef-1c4795b6d58d",
      "name": "If9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4ae9d184-693b-49c1-a971-fc91e1a90522",
              "leftValue": "={{ $json.effective_status }}",
              "rightValue": "ACTIVE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        0
      ],
      "id": "f753ca62-95dd-465f-91dc-e9e75aacbbaa",
      "name": "If10"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "4ae9d184-693b-49c1-a971-fc91e1a90522",
              "leftValue": "={{ $json.effective_status }}",
              "rightValue": "ACTIVE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "86d803d1-ea76-4821-95bc-5d067020578a",
              "leftValue": "={{ $json.insights }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        0
      ],
      "id": "c03aab0c-d7a2-482e-b81b-6dee3f237f3d",
      "name": "If11"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28d7bfb5-4d2b-4133-880e-b8c2f6455346",
              "name": "Ad ID",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "3385c600-4d4d-4756-b04c-dcc2815e7e95",
              "name": "Ad Name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "11e2bbb6-7422-4e0e-8e03-3532d6f11d5b",
              "name": "Campaign Name",
              "value": "={{ $json.campaign.name }}",
              "type": "string"
            },
            {
              "id": "bc300bdf-3df1-4dbc-b64a-1decd34e0caf",
              "name": "AdSet Name",
              "value": "={{ $json.adset.name }}",
              "type": "string"
            },
            {
              "id": "cf3b0615-d5ff-4f20-9690-146d3bd1a0b2",
              "name": "Active Status",
              "value": "={{ $json.effective_status }}",
              "type": "string"
            },
            {
              "id": "c50c53c9-b36b-4940-8e04-466b88ed7966",
              "name": "Impressions",
              "value": "={{ $json.insights.data[0].impressions }}",
              "type": "string"
            },
            {
              "id": "885107c2-dd41-41ac-9519-1c548cd1b9d1",
              "name": "Clicks",
              "value": "={{ $json.insights.data[0].clicks }}",
              "type": "string"
            },
            {
              "id": "8c771e20-750a-4b83-8d8b-7b9f98fefacd",
              "name": "Spend",
              "value": "={{ $json.insights.data[0].spend }}",
              "type": "string"
            },
            {
              "id": "517e1d58-2e92-464a-af9a-58319d0f74d5",
              "name": "CPC",
              "value": "={{ $json.insights.data[0].cpc }}",
              "type": "string"
            },
            {
              "id": "754fb45a-8973-48bc-894d-be2d8cdbb224",
              "name": "CPM",
              "value": "={{ $json.insights.data[0].cpm }}",
              "type": "string"
            },
            {
              "id": "9bb4617b-267e-4d99-94c8-0794871fd33e",
              "name": "Conversions",
              "value": "={{ $json.insights.data[0].actions[4].value }}",
              "type": "string"
            },
            {
              "id": "12b30ca9-189b-4023-8def-c8df4a6ef91a",
              "name": "Conversion Value",
              "value": "={{ $json.insights.data[0].action_values[8].value }}",
              "type": "string"
            },
            {
              "id": "09951900-5588-4685-9c05-5e08a02c808b",
              "name": "Video ID",
              "value": "={{ $json.creative.video_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1460,
        300
      ],
      "id": "f10f1690-20f4-4265-81d9-3063837507c5",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "119650e0-fb37-48e1-bb87-efd4cdd29434",
              "leftValue": "={{ $json.creative.video_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        -20
      ],
      "id": "a0568fb8-fda5-4d3a-8f5e-1f4c5e50a766",
      "name": "If6"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appsvPpfVc00sZlRR",
          "mode": "list",
          "cachedResultName": "AI VSL Demo",
          "cachedResultUrl": "https://airtable.com/appsvPpfVc00sZlRR"
        },
        "table": {
          "__rl": true,
          "value": "tblq56TF4aT0Zz1sN",
          "mode": "list",
          "cachedResultName": "Ads Performance",
          "cachedResultUrl": "https://airtable.com/appBYoIvmIcxQgRhD/tblq56TF4aT0Zz1sN"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Best Ads?": false,
            "Ad Name": "={{ $json[\"Ad Name\"] }}",
            "Spend": "={{ $json.Spend }}",
            "Conversions": "={{ $json.Conversions }}",
            "Conversion Value": "={{ $json[\"Conversion Value\"] }}",
            "CPC": "={{ $json.CPC }}",
            "CPM": "={{ $json.CPM }}",
            "Video ID": "={{ $json[\"Video ID\"] }}",
            "Ad ID": "={{ $json[\"Ad ID\"] }}",
            "Campaign Name": "={{ $json[\"Campaign Name\"] }}",
            "AdSet Name": "={{ $json[\"AdSet Name\"] }}",
            "Active Status": "={{ $json[\"Active Status\"] }}",
            "Impressions": "={{ $json.Impressions }}",
            "Clicks": "={{ $json.Clicks }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Ad Name",
              "displayName": "Ad Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Best Ads?",
              "displayName": "Best Ads?",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Spend",
              "displayName": "Spend",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Conversions",
              "displayName": "Conversions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Conversion Value",
              "displayName": "Conversion Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CPC",
              "displayName": "CPC",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CPM",
              "displayName": "CPM",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ROAS",
              "displayName": "ROAS",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Engagement Rate [progress]",
              "displayName": "Engagement Rate [progress]",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Last Updated",
              "displayName": "Last Updated",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Video ID",
              "displayName": "Video ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ad ID",
              "displayName": "Ad ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Campaign Name",
              "displayName": "Campaign Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "AdSet Name",
              "displayName": "AdSet Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Active Status",
              "displayName": "Active Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "ACTIVE",
                  "value": "ACTIVE"
                },
                {
                  "name": "PAUSED",
                  "value": "PAUSED"
                },
                {
                  "name": "DELETED",
                  "value": "DELETED"
                },
                {
                  "name": "ARCHIVED",
                  "value": "ARCHIVED"
                },
                {
                  "name": "IN_PROCESS",
                  "value": "IN_PROCESS"
                },
                {
                  "name": "WITH_ISSUES",
                  "value": "WITH_ISSUES"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Impressions",
              "displayName": "Impressions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Clicks",
              "displayName": "Clicks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Video Script",
              "displayName": "Video Script",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Project",
              "displayName": "Project",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "111833fe-4b89-4b9e-8a56-f8e7b043d12b",
      "type": "n8n-nodes-base.airtable",
      "position": [
        1700,
        300
      ],
      "name": "Airtable9",
      "typeVersion": 2.1,
      "credentials": {
        "airtableTokenApi": {
          "id": "naXmGRrHgy7Fokxn",
          "name": "N8N x Airtable"
        }
      }
    },
    {
      "parameters": {
        "graphApiVersion": "v22.0",
        "node": "me",
        "edge": "adaccounts",
        "options": {}
      },
      "id": "9b88a857-9274-4413-bede-74dbd277e9e5",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        200,
        0
      ],
      "name": "Get FB Ad Accounts",
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "f4hUsnY95ahJkbup",
          "name": "N8n X Fb ads"
        }
      }
    },
    {
      "parameters": {
        "graphApiVersion": "v22.0",
        "node": "={{$json.id}}",
        "edge": "campaigns",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "fields",
                "value": "id,name,effective_status"
              }
            ]
          }
        }
      },
      "id": "5cad80a6-497b-4e29-8f11-d4693ddefcbc",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        40,
        300
      ],
      "name": "Get Ad Campaigns",
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "f4hUsnY95ahJkbup",
          "name": "N8n X Fb ads"
        }
      }
    },
    {
      "parameters": {
        "graphApiVersion": "v22.0",
        "node": "={{$json.id}}",
        "edge": "adsets",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "fields",
                "value": "id,name,effective_status,budget,currency"
              }
            ]
          }
        }
      },
      "id": "4a367401-74e1-4598-b61d-80b5bc1a055f",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        700,
        0
      ],
      "name": "Get FB Ad Sets",
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "f4hUsnY95ahJkbup",
          "name": "N8n X Fb ads"
        }
      }
    },
    {
      "parameters": {
        "graphApiVersion": "v22.0",
        "node": "={{$json.id}}",
        "edge": "ads",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "fields",
                "value": "id,name,effective_status,creative{image_url,video_id,link_url},insights.date_preset(maximum){ctr,cpm,cpc,spend,actions,action_values,impressions,clicks},campaign{name},adset{name}"
              }
            ]
          }
        }
      },
      "id": "a1f3eb1f-dd8f-4c17-a4ab-4275041aee87",
      "type": "n8n-nodes-base.facebookGraphApi",
      "position": [
        840,
        300
      ],
      "name": "Get FB Ad Contents",
      "typeVersion": 1,
      "credentials": {
        "facebookGraphApi": {
          "id": "f4hUsnY95ahJkbup",
          "name": "N8n X Fb ads"
        }
      }
    },
    {
      "parameters": {
        "content": "## Get Campaign's ##",
        "height": 540,
        "width": 680,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -60,
        -60
      ],
      "id": "17198dfa-0b4b-42b6-979a-8ef7c460a722",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Get Adsets ##",
        "height": 280,
        "width": 680,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        660,
        -60
      ],
      "id": "e3089da7-f9ad-43cc-a82a-00a3313ac173",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Get Ads ##",
        "height": 240,
        "width": 680,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        660,
        240
      ],
      "id": "c27cc050-c876-4adf-977a-03889ec58698",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Record details in Airtable ##",
        "height": 540,
        "width": 680,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1360,
        -60
      ],
      "id": "ed7afbf4-c06a-41da-8b90-c9370ff37a20",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "Get FB Ad Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out6": {
      "main": [
        [
          {
            "node": "Get Ad Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out7": {
      "main": [
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out8": {
      "main": [
        [
          {
            "node": "If10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out9": {
      "main": [
        [
          {
            "node": "If11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "Get FB Ad Sets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If10": {
      "main": [
        [
          {
            "node": "Get FB Ad Contents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If11": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Airtable9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get FB Ad Accounts": {
      "main": [
        [
          {
            "node": "Split Out6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Ad Campaigns": {
      "main": [
        [
          {
            "node": "Split Out7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get FB Ad Sets": {
      "main": [
        [
          {
            "node": "Split Out8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get FB Ad Contents": {
      "main": [
        [
          {
            "node": "Split Out9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0f01c617-4647-4dd1-b3a4-9dcf01ad66eb",
  "meta": {
    "instanceId": "77f1d8375380ee2bc4995763b4e39528bf040d446fc3e9e5f6d802ec19784049"
  },
  "id": "IPVVE4sESGh4RWON",
  "tags": []
}