Contact_agent (3).json
{
  "name": "Contact agent",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Contact Agreement",
        "formDescription": "Enter the details of the clients below",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name of client",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Company Name"
            },
            {
              "fieldLabel": "Date of agreement",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "SCOPE OF WORK",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Facebook ads "
                  },
                  {
                    "option": "Consultation"
                  },
                  {
                    "option": "Sales Funnel buildout"
                  },
                  {
                    "option": "Ai automation (ai dialer, etc)"
                  },
                  {
                    "option": "Organic marketing assistance "
                  }
                ]
              },
              "multiselect": true,
              "requiredField": true
            },
            {
              "fieldLabel": "Setup 1 time Fees",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Setup includes",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Facebook ads "
                  },
                  {
                    "option": "Sales Funnel buildout"
                  },
                  {
                    "option": "Ai automation (ai dialer, etc)"
                  }
                ]
              },
              "multiselect": true,
              "requiredField": true
            },
            {
              "fieldLabel": "Ongoing / retainer fee",
              "fieldType": "number"
            },
            {
              "fieldLabel": "Ongoing support includes",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Facebook ads "
                  },
                  {
                    "option": "Organic marketing"
                  },
                  {
                    "option": "consultation and support"
                  }
                ]
              },
              "multiselect": true
            },
            {
              "fieldLabel": "Guarantees provided",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "10 appointments with the first month of launch"
                  },
                  {
                    "option": "15 appointments with the first month of launch"
                  },
                  {
                    "option": "20 appointments with the first month of launch"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        140,
        -500
      ],
      "id": "183a3b0f-b259-4215-9abf-24f6a73da627",
      "name": "On form submission",
      "webhookId": "0036b335-ca2c-4cef-b40f-c991b703a111"
    },
    {
      "parameters": {
        "name": "Service_agreement_Tool",
        "description": "Use this tool when you have all required user inputs and need the contract content to customize.\n",
        "workflowId": {
          "__rl": true,
          "value": "Y6T48nb5JXegA6oO",
          "mode": "list",
          "cachedResultName": "Contract File extractor"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        540,
        -300
      ],
      "id": "0ce9a3ca-3325-4e94-b22c-160d7e773ce4",
      "name": "File Extractor"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-preview-04-17",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        400,
        -300
      ],
      "id": "020fd0ce-49f3-4edb-9a8e-b2ed031154df",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "zhrZhlkAfCqokeRK",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "=Rapple",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1QtHvUYFcoIP_5nRDmNoKCa1Da4itOXNP",
          "mode": "list",
          "cachedResultName": "Contact HTML",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1QtHvUYFcoIP_5nRDmNoKCa1Da4itOXNP"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        420,
        80
      ],
      "id": "7e6ed913-ac8c-49c5-8d05-ba43494b287e",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "P3fdcC0Pu8BryPwf",
          "name": "N8n X Google"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').first().json.Email }}",
        "subject": "Kindly Review and Sign Your Service Agreement",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      color: #333333;\n      line-height: 1.6;\n      margin: 0;\n      padding: 0;\n      background-color: #f9f9f9;\n    }\n    .container {\n      max-width: 600px;\n      margin: 30px auto;\n      background: #ffffff;\n      padding: 20px 30px;\n      border-radius: 8px;\n      box-shadow: 0 0 8px rgba(0,0,0,0.1);\n    }\n    .header {\n      font-size: 20px;\n      font-weight: bold;\n      margin-bottom: 20px;\n      color: #2c3e50;\n    }\n    .content {\n      font-size: 16px;\n      margin-bottom: 20px;\n    }\n    .signature {\n      margin-top: 30px;\n      font-size: 16px;\n      color: #555555;\n    }\n    .footer {\n      font-size: 14px;\n      color: #999999;\n      text-align: center;\n      margin-top: 40px;\n    }\n    a {\n      color: #1a73e8;\n      text-decoration: none;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"content\">Dear {{ $('On form submission').first().json['Name of client'].split(' ')[0]}},</div>\n    <div class=\"content\">\n      <p>I hope this message finds you well.</p>\n      <p>\n        I've attached your service agreement with the details we discussed — including the services, terms, and fees. At your convenience, I kindly ask that you review the document and, if everything looks satisfactory, just sign it and send it back.\n      </p>\n      <p>\n        Should you have any questions or wish to go over any part of the agreement, please don’t hesitate to reach out — I’ll be more than happy to assist.\n      </p>\n      <p>Looking forward to working together and getting started.</p>\n    </div>\n    <div class=\"signature\">\n      Warm regards,<br>\n      <strong>Ankit Rai</strong><br>\n      Co-founder<br>\n      Rapple Media<br>\n      <a href=\"tel:[Phone Number]\">+91-8197976153</a><br>\n      <a href=\"mailto:[Email Address]\">ankitraitalks@gmail.com</a>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1260,
        180
      ],
      "id": "873e8b15-87ff-43ab-b754-7d6000314280",
      "name": "Gmail",
      "webhookId": "d9f04085-6c9c-4d0c-9730-89700b1eab83",
      "credentials": {
        "gmailOAuth2": {
          "id": "V4Fl82VdDpDmXWtD",
          "name": "N8n X Gmail"
        }
      }
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Service Agreement - Rapple Media Ltd</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      margin: 40px;\n      line-height: 1.6;\n      color: #333;\n      font-size: 20pt; /* Updated for PDF readability */\n    }\n    h1 {\n      text-align: center;\n      font-size: 33pt; /* Updated for PDF readability */\n    }\n    h2 {\n      margin-top: 40px;\n      border-bottom: 1px solid #ccc;\n      padding-bottom: 5px;\n      font-size: 24pt; /* Updated for PDF readability */\n    }\n    ul {\n      margin-left: 20px;\n    }\n    p {\n      font-size: 20pt; /* Ensure consistency with body text */\n    }\n    .signature {\n      margin-top: 60px;\n    }\n    .signature div {\n      margin-bottom: 40px;\n    }\n    .section {\n      margin-bottom: 40px;\n    }\n    .flex-container {\n      display: flex;\n      justify-content: space-between;\n      margin-top: 3rem;\n      font-size: 18pt; /* Slightly smaller for signature section */\n    }\n    .img-center {\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      margin-bottom: 20px;\n    }\n  </style>\n</head>\n<body>\n\n  <div class=\"img-center\">\n    <img src=\"https://raw.githubusercontent.com/Ankitrai1997/files/main/logo.svg\" width=\"100\" height=\"100\" alt=\"Icon\">\n  </div>\n\n  <h1>Rapple Media Ltd</h1>\n  <h2>Service Agreement</h2>\n\n  <p>This SERVICE AGREEMENT, hereinafter referred to as the \"Agreement,\" is entered into this day of {{ $json.output.date_signed }}, by and between:</p>\n\n  <p><strong> Rapple Media </strong>, hereinafter referred to as \"Agency\",<br>\n  -and-<br>\n  <strong>{{ $json.output.client_name }}</strong>, hereinafter referred to as the \"Customer\".</p>\n\n  <p>Collectively, the Agency and the Customer are referred to as \"Parties\".</p>\n\n  <div class=\"section\">\n    <h2>I. Scope of Work</h2>\n    <ul>\n {{ $json.output.scope_of_work }}\n    </ul>\n    <p><strong>Included in Month 1 Setup:</strong></p>\n    <ul>\n      {{ $json.output.setup_included }}\n    </ul>\n    <p>Specific timeframes of deliverables will be provided to customers but are subject to change in the occurrence of unforeseeable events or circumstances beyond the agency’s control. The Customer may avail from the Agency for consultation on the nature, timing, and extent of these services either via email, over the telephone, in person, or at Customer’s office. \n</p>\n  </div>\n\n     \n  <div class=\"section\">\n    <h2>II. Fees</h2>\n    <p>For undertaking the engagement and for other good and valuable consideration, including but not limited to, the substantial benefit the Customer will derive from the Agency’s services, the Customer agrees to compensate the Agency in the following manner:</p>\n    <ul>\n      <li><strong>Upon Commencement:</strong> {{ $json.output.setup_fee.currency }}{{ $json.output.setup_fee.amount }} (Setup Fee)</li>\n      <li><strong>Ongoing:</strong> {{ $json.output.setup_fee.currency }}{{ $json.output.retainer_fee.amount }} Management Fee, charged every 30 days</li>\n    </ul>\n    <p>The Client may terminate the contract at any time with written notice. No penalty fees will apply for early termination.<br>\n    All prices quoted are in USD.<br>\n    Late payments or failure of payments will result in immediate cessation of all work carried out by the Agency. All work remains the sole right of the Agency until payment is made.<br>\n    By availing of the Agency’s payment plan, both parties agree to the terms of service.\n    </p>\n  </div>\n\n  <div class=\"section\">\n    <h2>III. Refund / Cancellation Stipulation</h2>\n    <p>{{ $json.output.guarantee_or_refund }}<p>\n  </div>\n\n  <div class=\"section\">\n    <h2>IV. Payment Scheme</h2>\n    <p>The Customer agrees to settle the Agency’s professional fee in US Dollars either through the Agency’s merchant account, PayPal, Wise, or a Bank Transfer.</p>\n  </div>\n\n  <div class=\"section\">\n    <h2>V. Non-Disclosure</h2>\n    <p>Both parties mutually agree that certain confidential information may be exchanged during the course of this engagement. To ensure the protection of such information and in consideration of the agreement to exchange said information, the parties agree not to disclose the following: \n</p>\n    <ul>\n      <li>Technical materials, models and relevant technical articles, technical reports owned by either party</li>\n      <li>Sales materials, including but not limited to all quality management methods, pricing methods, sales methods, and customers’ materials</li>\n      <li>All the intellectual property rights (including those exclusively owned by either party, whether owned now or developed in the future)</li>\n      <li>Any other information that either party claims as confidential</li>\n    </ul>\n    <p>The Client agrees that the Agency may, from time to time, share testimonials and results achieved as a result of service provided for marketing purposes. The Client can request that personal and brand information be omitted from case studies and testimonials.</p>\n  </div>\n\n  <div class=\"section\">\n    <h2>VI. Miscellaneous</h2>\n    <ul>\n      <li><strong>Non-transferability:</strong> The rights and obligations under this Agreement are personal to the Customer. The Customer may not assign or transfer any rights or obligations under this Agreement.</li>\n      <li><strong> Mutual Indemnification:</strong> Both parties will, at their own expense, defend, indemnify, and hold the other, its agents, and employees harmless from any and all claims, actions, liabilities, injuries, damages, losses, grants, costs, and expenses, including attorney fees, arising out of or in connection with any use of the Program(s) of this Agreement.</li>\n      <li><strong>Integration:</strong> This Agreement, along with any additional terms or policies incorporated herein by reference, represents the entire Agreement between the Customer and Consultant concerning the Program.</li>\n    </ul>\n  </div>\n\n  <div class=\"section\">\n    <h2>VII. Interpretation and Enforcement</h2>\n    <p>The parties understand and agree that the construction and interpretation of this Agreement is governed by the laws of the United States. In the event that either party must initiate legal action to enforce this Agreement, the Parties agree that the proper venue for such action shall be the courts of the United States</p>\n  </div>\n\n  <div class=\"section\">\n    <p><strong>BY SIGNING BELOW, YOU ACKNOWLEDGE THAT YOU UNDERSTAND AND AGREE TO ALL TERMS, INCLUDING SERVICE FEES, NO REFUND POLICY, AND CONFIDENTIALITY.</strong><br>\n    <div class=\"flex-container\">\n      <div>\n        <strong>{{ $json.output.client_name }}</strong><br>\n        Title:<br>\n        Date:<br>\n        signature:\n      </div>\n\n      <div style=\"position: absolute; right: 15rem;\">\n        <strong>Ankit Rai</strong><br>\n        Title: Marketing Consultant, Rapple Media Ltd<br>\n        Date:{{$now.format('MM/dd/yyyy')}}<br>\n        signature:\n        <p>\n      </div>\n    </div>\n  </div>\n\n</body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1060,
        -320
      ],
      "id": "3c8a5321-a495-415b-b690-6c76734eb4ea",
      "name": "HTML"
    },
    {
      "parameters": {
        "jsCode": "const htmlContent = $json[\"html\"];\n\nreturn [\n  {\n    binary: {\n      data: {\n        data: Buffer.from(htmlContent).toString('base64'),\n        mimeType: 'text/html',\n        fileName: 'template-output.html'\n      }\n    },\n    json: {}\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        180,
        80
      ],
      "id": "50655737-602d-4e29-8d6c-744ee5701585",
      "name": "Code"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"client_name\": \"xyz\",\n  \"date_signed\": \"2025-05-24\",\n  \"scope_of_work\": \"The Agency is hereby engaged by the Customer to provide the following digital marketing services:\",\n  \"setup_included\": \"The initial setup phase for the first month of service shall include the following key activities:\",\n  \"setup_fee\": {\n    \"amount\": 4000,\n    \"currency\": \"USD\",\n    \"description\": \"One-Time Setup Fee\"\n  },\n  \"retainer_fee\": {\n    \"amount\": 800,\n    \"currency\": \"USD\",\n    \"billing_cycle\": \"Every 30 days\",\n    \"description\": \"Management Fee charged every 30 days for retainer and ongoing support\"\n  },\n  \"guarantee_or_refund\": \"null\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        660,
        -300
      ],
      "id": "93b1b330-2d94-46a9-b666-29be2376d765",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://v2.convertapi.com/convert/html/to/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer secret_E3psXLgGK15YQUmQ"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "File",
              "value": "=https://drive.usercontent.google.com/u/0/uc?id={{ $json.id }}&export=download"
            },
            {
              "name": "StoreFile",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        80
      ],
      "id": "04829ef6-cc03-409e-aeb3-080f83bd1a8e",
      "name": "Html to Pdf"
    },
    {
      "parameters": {
        "url": "={{ $json.Files[0].Url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1000,
        80
      ],
      "id": "66e50a71-b05d-4b31-83f6-470471b3ff18",
      "name": "Download PDF"
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "={{ $('On form submission').item.json['Name of client'] }} | {{ $('On form submission').item.json['Company Name'] }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1-1aK2FE5ilE0vQXjkc20H0uR5zUBFAL-",
          "mode": "list",
          "cachedResultName": "Contracts Pdf",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1-1aK2FE5ilE0vQXjkc20H0uR5zUBFAL-"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1260,
        -20
      ],
      "id": "32970b6f-49c1-4b31-bbe5-6a1957643cd7",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "P3fdcC0Pu8BryPwf",
          "name": "N8n X Google"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "13744bfd-041c-4a66-a5a8-7264650cc30c",
              "leftValue": "={{ $json.output.retainer_fee.amount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        -500
      ],
      "id": "aac589f0-df33-4e98-988c-7ba7a22acde2",
      "name": "If"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <title>Service Agreement - Rapple Media Ltd</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      margin: 40px;\n      line-height: 1.6;\n      color: #333;\n      font-size: 20pt; /* Updated for PDF readability */\n    }\n    h1 {\n      text-align: center;\n      font-size: 33pt; /* Updated for PDF readability */\n    }\n    h2 {\n      margin-top: 40px;\n      border-bottom: 1px solid #ccc;\n      padding-bottom: 5px;\n      font-size: 24pt; /* Updated for PDF readability */\n    }\n    ul {\n      margin-left: 20px;\n    }\n    p {\n      font-size: 20pt; /* Ensure consistency with body text */\n    }\n    .signature {\n      margin-top: 60px;\n    }\n    .signature div {\n      margin-bottom: 40px;\n    }\n    .section {\n      margin-bottom: 40px;\n    }\n    .flex-container {\n      display: flex;\n      justify-content: space-between;\n      margin-top: 3rem;\n      font-size: 18pt; /* Slightly smaller for signature section */\n    }\n    .img-center {\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      margin-bottom: 20px;\n    }\n  </style>\n</head>\n<body>\n\n  <div class=\"img-center\">\n    <img src=\"https://raw.githubusercontent.com/Ankitrai1997/files/main/logo.svg\" width=\"100\" height=\"100\" alt=\"Icon\">\n  </div>\n\n  <h1>Rapple Media Ltd</h1>\n  <h2>Service Agreement</h2>\n\n  <p>This SERVICE AGREEMENT, hereinafter referred to as the \"Agreement,\" is entered into this day of {{ $json.output.date_signed }}, by and between:</p>\n\n  <p><strong> Rapple Media </strong>, hereinafter referred to as \"Agency\",<br>\n  -and-<br>\n  <strong>{{ $json.output.client_name }}</strong>, hereinafter referred to as the \"Customer\".</p>\n\n  <p>Collectively, the Agency and the Customer are referred to as \"Parties\".</p>\n\n  <div class=\"section\">\n    <h2>I. Scope of Work</h2>\n    <ul>\n {{ $json.output.scope_of_work }}\n    </ul>\n    <p><strong>Included in Month 1 Setup:</strong></p>\n    <ul>\n      {{ $json.output.setup_included }}\n    </ul>\n    <p>Specific timeframes of deliverables will be provided to customers but are subject to change in the occurrence of unforeseeable events or circumstances beyond the agency’s control. The Customer may avail from the Agency for consultation on the nature, timing, and extent of these services either via email, over the telephone, in person, or at Customer’s office. \n</p>\n  </div>\n\n     \n  <div class=\"section\">\n    <h2>II. Fees</h2>\n    <p>For undertaking the engagement and for other good and valuable consideration, including but not limited to, the substantial benefit the Customer will derive from the Agency’s services, the Customer agrees to compensate the Agency in the following manner:</p>\n    <ul>\n      <li><strong>Upon Commencement:</strong> {{ $json.output.setup_fee.currency }}{{ $json.output.setup_fee.amount }} (Setup Fee)</li>\n   \n    </ul>\n    <p>The Client may terminate the contract at any time with written notice. No penalty fees will apply for early termination.<br>\n    All prices quoted are in USD.<br>\n    Late payments or failure of payments will result in immediate cessation of all work carried out by the Agency. All work remains the sole right of the Agency until payment is made.<br>\n    </p>\n  </div>\n\n  <div class=\"section\">\n    <h2>III. Refund / Cancellation Stipulation</h2>\n    <p>{{ $json.output.guarantee_or_refund }}<p>\n  </div>\n\n  <div class=\"section\">\n    <h2>IV. Payment Scheme</h2>\n    <p>The Customer agrees to settle the Agency’s professional fee in US Dollars either through the Agency’s merchant account, PayPal, Wise, or a Bank Transfer.</p>\n  </div>\n\n  <div class=\"section\">\n    <h2>V. Non-Disclosure</h2>\n    <p>Both parties mutually agree that certain confidential information may be exchanged during the course of this engagement. To ensure the protection of such information and in consideration of the agreement to exchange said information, the parties agree not to disclose the following: \n</p>\n    <ul>\n      <li>Technical materials, models and relevant technical articles, technical reports owned by either party</li>\n      <li>Sales materials, including but not limited to all quality management methods, pricing methods, sales methods, and customers’ materials</li>\n      <li>All the intellectual property rights (including those exclusively owned by either party, whether owned now or developed in the future)</li>\n      <li>Any other information that either party claims as confidential</li>\n    </ul>\n    <p>The Client agrees that the Agency may, from time to time, share testimonials and results achieved as a result of service provided for marketing purposes. The Client can request that personal and brand information be omitted from case studies and testimonials.</p>\n  </div>\n\n  <div class=\"section\">\n    <h2>VI. Miscellaneous</h2>\n    <ul>\n      <li><strong>Non-transferability:</strong> The rights and obligations under this Agreement are personal to the Customer. The Customer may not assign or transfer any rights or obligations under this Agreement.</li>\n      <li><strong> Mutual Indemnification:</strong> Both parties will, at their own expense, defend, indemnify, and hold the other, its agents, and employees harmless from any and all claims, actions, liabilities, injuries, damages, losses, grants, costs, and expenses, including attorney fees, arising out of or in connection with any use of the Program(s) of this Agreement.</li>\n      <li><strong>Integration:</strong> This Agreement, along with any additional terms or policies incorporated herein by reference, represents the entire Agreement between the Customer and Consultant concerning the Program.</li>\n    </ul>\n  </div>\n\n  <div class=\"section\">\n    <h2>VII. Interpretation and Enforcement</h2>\n    <p>The parties understand and agree that the construction and interpretation of this Agreement is governed by the laws of the United States. In the event that either party must initiate legal action to enforce this Agreement, the Parties agree that the proper venue for such action shall be the courts of the United States</p>\n  </div>\n\n  <div class=\"section\">\n    <p><strong>BY SIGNING BELOW, YOU ACKNOWLEDGE THAT YOU UNDERSTAND AND AGREE TO ALL TERMS, INCLUDING SERVICE FEES, NO REFUND POLICY, AND CONFIDENTIALITY.</strong><br>\n    <div class=\"flex-container\">\n      <div>\n        <strong>{{ $json.output.client_name }}</strong><br>\n        Title:<br>\n        Date:<br>\n        signature:\n      </div>\n\n      <div style=\"position: absolute; right: 15rem;\">\n        <strong>Ankit Rai</strong><br>\n        Title: Marketing Consultant, Rapple Media Ltd<br>\n        Date:{{$now.format('MM/dd/yyyy')}}<br>\n        signature:\n        <p>\n      </div>\n    </div>\n  </div>\n\n</body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1280,
        -320
      ],
      "id": "945dc2f2-134f-42b3-8def-5b1292c5fa59",
      "name": "HTML1"
    },
    {
      "parameters": {
        "content": "Draft contract based on input",
        "height": 460,
        "width": 720,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        -560
      ],
      "id": "fc94d0fa-8fd6-4fa6-b879-b692db343fc3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Name of client : {{ $json['Name of client'] }}\nDate of agreement: {{ $json['Date of agreement'] }}\nScope of work : {{ $json['SCOPE OF WORK'] }}\nSetup one time fee in $ :{{ $json['Setup 1 time Fees'] }}\nOne time Setup includes : {{ $json['Setup includes'] }}\nRetainer / ongoing support fee : {{ $json['Ongoing / retainer fee'] }}\nRetainer / ongoing support includes : {{ $json['Ongoing support includes'] }}\nGuarantees Provided : {{ $json['Guarantees provided'] }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an AI agent that helps generate customized service agreements for Rapple Media.\n\nUse Service_agreement_Tool when needed.\n\n1. You will be given the following inputs:\nClient Name:\nAgreement Date:\nScope of Work:\nSetup one time Fee:\nSetup includes:\nOngoing Monthly support Fee:\nGuarantees provided:\n\n2. Once all required input is provided:\nCall the Service_agreement_Tool to retrieve the base service agreement template.\n\n3. Modify the contract using the provided inputs:\nUse the inputs to draft professional, original content for each section, following the structure and tone of the reference agreement.\n\nDo not copy the input text verbatim. Instead, rephrase and format the content into well-structured, contractual language.\n\nUpdate the following sections accordingly:\n[CLIENT NAME]\nDate\nSCOPE OF WORK\nINCLUDED IN MONTH 1 SETUP\nFEES\nREFUND / CANCELLATION STIPULATION\n\n4. Formatting Requirements:\nPreserve legal formatting from the base contract.\n\nUse bullet points where appropriate for clarity and readability.\n\nOnly call the tool when you have the necessary user inputs to proceed.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        440,
        -500
      ],
      "id": "f5f14b54-f6a7-45e8-a277-e40d90293116",
      "name": "Contract Agent"
    },
    {
      "parameters": {
        "content": "Templatize the contract",
        "height": 460,
        "width": 640,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        -560
      ],
      "id": "76811557-5995-415c-bbdf-658a2b27c0f9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "convert to binary data",
        "height": 440,
        "width": 560,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        -80
      ],
      "id": "d30d96db-5888-4a7b-9822-da1db72c97c8",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Send & store the contract",
        "height": 440,
        "width": 800,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        680,
        -80
      ],
      "id": "7db57003-090b-4277-bc58-a27bfe091fdc",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Contract Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Extractor": {
      "ai_tool": [
        [
          {
            "node": "Contract Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Contract Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Html to Pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Contract Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Html to Pdf": {
      "main": [
        [
          {
            "node": "Download PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download PDF": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contract Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b87e202b-b883-4516-ae1a-8a3eb0278f46",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "77f1d8375380ee2bc4995763b4e39528bf040d446fc3e9e5f6d802ec19784049"
  },
  "id": "Yxby19oHDZL6zSKy",
  "tags": []
}